/* Asked ChatGPT how to put a picture behind the contents */
body {
    background-image: url('../static/images/orange.jpg'); /* Путь к фоновому изображению */
    background-size: cover; /* Изображение масштабируется по размеру экрана */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Запрещаем повторение изображения */
}

.register-card {
    max-width: 400px; /* Ограничиваем ширину карточки */
    width: 100%; /* Заполняем пространство по ширине */
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Мягкая тень */
}

.overlay {
    position: fixed;
    top: 5%;
    left: 45%;
    width: 10%;
    height: 10%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%; 
}

textarea {
    width: 100%;
    height: calc(100% - 150px);
    resize: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 21px;
}

.emotion-label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease;
}

input[type="checkbox"] {
    display: none;
}

.emotion-label:hover {
    cursor: pointer;
}

.sidebar {
    margin-top: 60px;
    width: 200px;
}

.sidebar li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.sidebar a {
    color: rgba(0, 0, 0, 0.5);
    transition: 0.3s
}

.sidebar a:hover {
    color: rgba(0, 0, 0, 1);
}

@media (min-width: 768px) {
    .centered-container {
        width: 50%;
    }
}

@media (max-width: 1150px) {
    .sidebar {
        display: none;
    }
}

@media (max-width: 768px) {
    .centered-container {
        width: 85%;
    }
}
