{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}

<div class="overlay">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>

<div class="centered-container bg-white rounded shadow p-4">
    <h2 class="text-center mb-4">Take a Note</h2>

    <form method="post" action="/take-note" class="h-100 d-flex flex-column">
        <textarea id="note" name="note" rows="10" placeholder="You can write your thoughts here" required></textarea>
        {% if emotions %}
        <div class="d-flex flex-column flex-wrap" style="height: 100px;">
            {% for emotion in emotions %}
                <div class="mb-2">
                    <input name="emotion" type="checkbox" value="{{ emotion['name'] }}" id="{{ emotion['name'] }}">
                    <label class="emotion-label" for="{{ emotion['name'] }}" data-color="{{ emotion['color'] }}">{{ emotion["name"] }}</label>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary mt-auto">Save</button>
    </form>
</div>

{% endblock %}