{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}

<div class="centered-container bg-white rounded shadow p-4">
    <h2 class="text-center mb-4">Take a Note</h2>

    <form method="post" action="/note" class="h-100 d-flex flex-column">
        <textarea id="note" name="note" rows="10" placeholder="You can write your thoughts here" required></textarea>
        <button type="submit" class="btn btn-primary mt-auto">Save</button>
    </form>
</div>

{% endblock %}