{% extends "layout.html" %}

{% block title %}
    Notes
{% endblock %}

{% block main %}

<div class="overlay">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>

<div class="centered-container bg-white rounded shadow p-4">
    <h2 class="text-center mb-4">{{ current_note["time_created"] | datetime }}</h2>

    <textarea readonly id="note" name="note" rows="10">
        {{ current_note['text']}}
    </textarea>

    {% if emotions %}
    <div class="d-flex" style="height: 100px;">
        {% for emotion in emotions %}
            <div class="p-2">
                <label class="emotion-label">{{ emotion["name"] }}</label>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    
</div>

{% endblock %}